/**
 * General stylesheet file with all project colors.
 */

$primary: #f28f43;
$secondary: #ffee8c;
$half-secondary: #fffcd3;
$border-color: #84ABC1;

$theme-colors: (
        'border': $border-color,
        'card': #fbfbfb,
        'divider': #d1c7be,
        'primary': $primary,
        'secondary': $secondary,
);
